<% layout('main/layout') -%>
<div class="jumbotron">
  <div class="container">
    <h1>Shop Smart,Save BIG,<br />Grab HUGE</h1>
    <p>One unique online destination for all your shopping needs.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Gadgets</h2>
      <p>Electronics Shopping all in one place. </p>
    </div>
    <div class="col-md-4">
      <h2>Clothing</h2>
      <p>Remark your celebrations with clothing collection. </p>
   </div>
    <div class="col-md-4">
      <h2>Kitchenware</h2>
      <p>Your home is never like before.</p>
    </div>
  </div>
